.loading_wrap{
  position:fixed; top:0px; left:0px; background-color:rgba(255,255,255,0.12); width:100%; height:100%; z-index:99000;
}

.loading-circle{
  position:absolute; margin:auto; top:0; bottom:0; left:0; right:0; width:54px; height:54px;
  animation: rotate_image .6s linear infinite;
  transform-origin: 50% 50%;
}

.loading_point{
  position:absolute; margin:auto; top:0; bottom:0; left:0; right:0; width:54px; height:54px;
}

.loading_wait_text{
  position: absolute;
  margin: auto;
  top: 134px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  color: #000;
  height: 54px;
  font-size: calc(100vw * (25 / 640));
  letter-spacing: calc(100vw * (-0.6 / 640));
  line-height: calc(100vw * ( 40 / 640));
}


@keyframes rotate_image{
  100% {
	transform: rotate(360deg);
  }
}

.whiteBottom {
  width: 100%;
  max-width: calc(800px * (640 / 640));
  height: 76%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  z-index: -1;
}

/* progress start */
.circle_progress_wrap {
  z-index: 0;
  position: absolute;
  width: auto;
  bottom: calc(100vw * (80 / 640));
  left: 0;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-left: calc(100vw * (40 / 640));
  align-items: center;
  width: 72px;
  height: 72px;
}
.circle_progress { transform: rotate(-90deg); z-index: 10; }
.frame_mint, .bar_mint ,.frame_orange, .bar_orange{ fill: none; }
.frame_mint { stroke: #000; }
.bar_mint {
  stroke: #5ec4b6;
  stroke-linecap: round;
}
.circle_bg{
  z-index: 0;
  position: absolute;
  width: 62px;
  height: 62px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.frame_orange { stroke: #000; }
.bar_orange {
  stroke: #FB8713;
  stroke-linecap: round;
}
.orange{
  color:  #FB8713;;
}
.mint{
  color: #5ec4b6;
}
.circle_text{
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  font-family: 'MG050';
  font-size: calc(100vw * (21 / 640));
  letter-spacing: calc(100vw * (-0.1 / 640));
}
/* progress end */

/* progress start */
.common_circle_wrap{
  position:relative;
  width: 100%;
  height: calc(100vw * (210 / 640));
}
.common_circle_progress_wrap {
  z-index: 0;
  position: absolute;
  text-align: center;
  width: 130px;
  margin: 0 auto;
  height: 130px;
  right: 0px;
  left: 0px;
}
.common_circle_progress { transform: rotate(-90deg); z-index: 10; }
.frame_mint, .bar_mint ,.frame_orange, .bar_orange{ fill: none; }
.frame_mint { stroke: #000; }
.frame_trans{ fill: none; }
.frame_trans { stroke: #00000000; }
.bar_mint {
  stroke: #5ec4b6;
  stroke-linecap: round;
}
.common_circle_bg{
  z-index: -1;
  position: absolute;
  width: 118px;
  height: 118px;
  top: 6px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: #5ec4b6;
}
.frame_orange { stroke: #000; }
.bar_orange {
  stroke: #FB8713;
  stroke-linecap: round;
}
.orange{
  color:  #FB8713;;
}
.mint{
  color: #5ec4b6;
}
.white{
  color: #fff;
}
.pcc_review_dec1{
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  font-family: 'MG060';
  font-size: calc(100vw * (18 / 640));
  line-height: calc(100vw * ( 25 / 640));
}
.circle_text_campain{
  top: calc(100vw * (36 / 640));
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
}

.circle_text_pcc{
  top: calc(100vw * (68 / 640));
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
}

.circle_text p{
  text-align: center;
  font-family: 'MG070';
  font-size: calc(100vw * (28 / 640));
  line-height: calc(100vw * ( 34 / 640));
  letter-spacing: calc(100vw * (-0.1 / 640));
}

.circle_text h2{
  text-align: center;
  font-family: 'MG060';
  font-size: calc(100vw * (18 / 640));
  line-height: calc(100vw * ( 25 / 640));
  letter-spacing: calc(100vw * (-0.1 / 640));
}

.circle_text h1{
  text-align: center;
  font-family: 'Georgia';
  font-weight: bold;
  font-size: calc(100vw * (56 / 640));
  line-height: calc(100vw * ( 63 / 640));
  color: #fff;
  margin-top:calc(100vw * ( -8 / 640));
}
/* progress end */