/*팝업 기본형*/
.popup_bg {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 99000;
}

article.popup_element {
  width: calc(100vw * (400 / 640));
  display: block;
  color: #000;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 99900; /* Sit on top */
}

article.popup_element p.message {
  padding: calc(100vw * (50 / 640));
  min-height: calc(100vw * (190 / 640));
  height: auto;
  font-size: calc(100vw * (20 / 640));
  line-height: calc(100vw * (32 / 640));
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-family: 'MG030';
  letter-spacing: calc(100vw * (-0.6 / 640));
}

article.popup_element .close_btn {
  width: 100%;
  height: calc(100vw * (60 / 640));
  background-color: #000;
  display: block;
  text-align: center;
  font-size: calc(100vw * (24 / 640));
  line-height: calc(100vw * (32 / 640));
  color: white;
  font-family: 'MG030';
  letter-spacing: calc(100vw * (-0.1 / 640));
  /* padding-top: calc(100vw * (15 / 640)); */
}

article.popup_element .confirm_btn {
  width: 100%;
  height: calc(100vw * (60 / 640));
  background-color: #5EC4B6;
  display: block;
  text-align: center;
  font-size: calc(100vw * (24 / 640));
  line-height: calc(100vw * (32 / 640));
  color: white;
  font-family: 'MG030';
  letter-spacing: calc(100vw * (-0.1 / 640));
  /* padding-top: calc(100vw * (15 / 640)); */
}

article.popup_element p.function_panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: calc(100vw * (60 / 640));
  width: 100%;
  margin: 0;
}

article.popup_element p.function_panel .confirm {
  background-color: #68c0b5;
  width: 50%;
  height: 100%;
  color: white;
  font-size: calc(100vw * (25 / 640));
  line-height: 1.2;
  font-family: 'MG040';
  letter-spacing: calc(100vw * (-0.25 / 640));
  text-align: center;
}

article.popup_element p.function_panel .cancle {
  background-color: #000000;
  width: 50%;
  height: 100%;
  color: #ffffff;
  font-size: calc(100vw * (25 / 640));
  line-height: calc(100vw * (33 / 640));
  font-family: 'MG030';
  letter-spacing: calc(100vw * (-0.1 / 640));
  text-align: center;
}

/*팝업타입2:특수형 타입(사진업로드)*/
article.popup_element.picture_upload_select {
  height: auto;
  padding: 0;
  border: 0;
  min-height: auto;
}

article.popup_element.picture_upload_select .function_btn {
  width: 100%;
  height: calc(100vw * (60 / 640));
  background-color: #68c0b5;
  font-size: calc(100vw * (25 / 640));
  line-height: 1.2;
  color: white;
  position: static;
  display: block;
  font-family: 'MG030';
  letter-spacing: calc(100vw * (-0.25 / 640));
  text-align: center;
  padding-top: calc(100vw * (13 / 640));
}

article.popup_element.picture_upload_select .close_btn {
  width: 100%;
  height: calc(100vw * (60 / 640));
  background-color: #a5a5a5;
  font-size: calc(100vw * (25 / 640));
  line-height: 1.2;
  color: white;
  position: static;
  display: block;
  font-family: 'MG030';
  letter-spacing: calc(100vw * (-0.25 / 640));
  text-align: center;
  padding-top: calc(100vw * (13 / 640));
}

@media all and (min-width: 820px) {
  /*팝업 기본형*/
  article.popup_element {
	width: calc(100vw * (400 / 640));
	display: block;
	color: #000;
	position: fixed;
	left: 50%;
	top: 50%;
	background-color: #fff;
	transform: translateX(-50%) translateY(-50%);
	display: none;
	z-index: 99900; /* Sit on top */
  }

  article.popup_element p.message {
	padding: calc(100vw * (40 / 640));
	width: 100%;
	min-height: calc(100vw * (190 / 640));
	height: auto;
	font-size: calc(100vw * (20 / 640));
	line-height: calc(100vw * (32 / 640));
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	font-family: 'MG050';
	letter-spacing: calc(100vw * (-1.2 / 640));
  }

  article.popup_element .close_btn {
	width: 100%;
	height: calc(100vw * (60 / 640));
	background-color: #000;
	display: block;
	font-size: calc(100vw * (24 / 640));
	line-height: 1.2;
	color: white;
	letter-spacing: calc(800px * (-0.25 / 640));
	text-align: center;
	/* padding-top: calc(100vw * (13 / 640)); */
  }

  article.popup_element p.function_panel {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	height: calc(100vw * (80 / 640));
	width: 100%;
  }

  article.popup_element p.function_panel .confirm {
	font-width: 600;
	background-color: #68c0b5;
	width: 50%;
	height: 100%;
	color: white;
	font-size: calc(100vw * (25 / 640));
	line-height: 1.2;
	font-family: 'MG040';
	letter-spacing: calc(100vw * (-0.25 / 640));
	text-align: center;
	padding-top: calc(100vw * (13 / 640));
  }

  article.popup_element p.function_panel .cancle {
	font-width: 600;
	background-color: #000000;
	width: 50%;
	height: 100%;
	color: #ffffff;
	font-size: calc(100vw * (25 / 640));
	line-height: 1.2;
	font-family: 'MG040';
	letter-spacing: calc(100vw * (-0.25 / 640));
	text-align: center;
	padding-top: calc(100vw * (13 / 640));
  }

  /*팝업타입2:특수형 타입(사진업로드)*/
  article.popup_element.picture_upload_select {
	height: auto;
	padding: 0;
	border: 0;
	min-height: auto;
  }

  article.popup_element.picture_upload_select .function_btn {
	width: 100%;
	height: calc(800px * (60 / 640));
	background-color: #68c0b5;
	font-size: calc(800px * (25 / 640));
	line-height: 1.2;
	color: white;
	position: static;
	display: block;
	letter-spacing: calc(800px * (-0.25 / 640));
	text-align: center;
	padding-top: calc(100vw * (13 / 640));
  }

  article.popup_element.picture_upload_select .close_btn {
	width: 100%;
	height: calc(800px * (60 / 640));
	background-color: #a5a5a5;
	font-size: calc(800px * (25 / 640));
	line-height: 1.2;
	color: white;
	position: static;
	display: block;
	letter-spacing: calc(800px * (-0.25 / 640));
	text-align: center;
	padding-top: calc(100vw * (13 / 640));
  }
}

.pcc_popup_wrap{
  position: fixed;
  top: -1200px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 99000;
}
.pcc_popup_wrap .pcc_popup_body{
  width: 72%; height: auto;  margin-left: 14%; margin-top: 20%;
}

.pcc_popup_wrap .pcc_popup_body img{
  width: 100%;
}

.pcc_popup_footer{
  width: 100%;text-align: center;
}
.pcc_popup_footer .left_btn{
  width: 50%; height: 30px; font-size: calc(100vw * (20 / 640));
  font-family: 'MG070';
  color: #fff;
  float: left;
  padding-top: 9px;
  background-color: #868686;
}
.pcc_popup_footer .right_btn{
  width: 50%; height: 30px; font-size: calc(100vw * (20 / 640));
  font-family: 'MG070';
  color: #fff;
  float: right;
  padding-top: 9px;
  background-color: #000;
}

@media (min-width: 568px) and (max-width: 1224px) {
  .pcc_popup_wrap .pcc_popup_body{
	width: 60%;
	height: auto;
	margin-left: 20%;
	margin-top: 14%;
  }
  .pcc_popup_footer .left_btn{
	height : 60px;
	padding-top: 12px;
  }
  .pcc_popup_footer .right_btn{
	height : 60px;
	padding-top: 12px;
  }
}
