@charset "utf-8";

/*webfont*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

@font-face{
	font-family:'MG010';
	src:url('../fonts/210mgothic010.woff') format('woff'),
	url('../fonts/210mgothic010.otf') format('opentype') ,
	url('../fonts/210mgothic010.ttF') format('true type');
}
@font-face{
	font-family:'MG020';
	src:url('../fonts/210mgothic020.woff') format('woff'),
	url('../fonts/210mgothic020.otf') format('opentype'),
	url('../fonts/210mgothic020.ttf') format('true type');
}
@font-face{
	font-family:'MG030';
	src:url('../fonts/210mgothic030.woff') format('woff'),
	url('../fonts/210mgothic030.otf') format('opentype'),
	url('../fonts/210mgothic030.ttf') format('true type');
}
@font-face{
	font-family:'MG040';
	src:url('../fonts/210mgothic040.woff') format('woff'),
	url('../fonts/210mgothic040.otf') format('opentype'),
	url('../fonts/210mgothic040.ttf') format('true type');
}
@font-face{
	font-family:'MG050';
	src:url('../fonts/210mgothic050.woff') format('woff'),
	url('../fonts/210mgothic050.otf') format('opentype'),
	url('../fonts/210mgothic050.ttf') format('true type');
}
@font-face{
	font-family:'MG060';
	src:url('../fonts/210mgothic060.woff') format('woff'),
	url('../fonts/210mgothic060.otf') format('opentype'),
	url('../fonts/210mgothic060.ttf') format('true type');
}
@font-face{
	font-family:'MG070';
	src:url('../fonts/210mgothic070.woff') format('woff'),
	url('../fonts/210mgothic070.otf') format('opentype'),
	url('../fonts/210mgothic070.ttf') format('true type');
}
@font-face{
	font-family:'MG080';
	src:url('../fonts/210mgothic080.woff') format('woff'),
	url('../fonts/210mgothic080.otf') format('opentype'),
	url('../fonts/210mgothic080.ttf') format('true type');
}
@font-face{
	font-family:'MG090';
	src:url('../fonts/210mgothic090.woff') format('woff'),
	url('../fonts/210mgothic090.otf') format('opentype'),
	url('../fonts/210mgothic090.ttf') format('true type');
}
@font-face{
	font-family:'MG100';
	src:url('../fonts/210mgothic100.woff') format('woff'),
	url('../fonts/210mgothic100.otf') format('opentype'),
	url('../fonts/210mgothic100.ttf') format('true type');
}

@font-face{
	font-family:georgia;
	src:url('../fonts/georgia.woff') format('woff'),
	url('../fonts/georgia.ttf') format('true type');
}
@font-face{
	font-family:georgiab;
	src:url('../fonts/georgiab.woff') format('woff'),
	url('../fonts/georgiab.ttf') format('true type');
}
@font-face{
	font-family:georgiai;
	src:url('../fonts/georgiai.woff') format('woff'),
	url('../fonts/georgiai.ttf') format('true type');
}
@font-face{
	font-family:georgiaz;
	src:url('../fonts/georgiaz.woff') format('woff'),
	url('../fonts/georgiaz.ttf') format('true type');
}
@font-face{
	font-family:monbaiti;
	src:url('../fonts/monbaiti.woff') format('woff'),
	url('../fonts/monbaiti.ttf') format('true type');
}
/* gotham */
@font-face{
	font-family:gothamBlack;
	src:url('../fonts/Gotham-Black.ttf') format('true type'),
}
@font-face{
	font-family:gothamBlacki;
	src:url('../fonts/Gotham-BlackItalic.ttf') format('true type'),
}
@font-face{
	font-family:gothamBold;
	src:url('../fonts/Gotham-Bold.ttf') format('true type'),
}
@font-face{
	font-family:gothamBoldi;
	src:url('../fonts/Gotham-BoldItalic.ttf') format('true type'),
}
@font-face{
	font-family:gothamLight;
	src:url('../fonts/Gotham-Light.ttf') format('true type'),
}
@font-face{
	font-family:gothamLighti;
	src:url('../fonts/Gotham-LightItalic.ttf') format('true type'),
}
@font-face{
	font-family:gothamMedium;
	src:url('../fonts/Gotham-Medium.ttf') format('true type'),
}
@font-face{
	font-family:gothamMediumi;
	src:url('../fonts/Gotham-MediumItalic.ttf') format('true type'),
}
@font-face{
	font-family:gothamThin;
	src:url('../fonts/Gotham-Thin.ttf') format('true type'),
}
@font-face{
	font-family:gothamThini;
	src:url('../fonts/Gotham-ThinItalic.ttf') format('true type'),
}
@font-face{
	font-family:gothamUltra;
	src:url('../fonts/Gotham-Ultra.ttf') format('true type'),
}
@font-face{
	font-family:gothamUltrai;
	src:url('../fonts/Gotham-UltraItalic.ttf') format('true type'),
}
@font-face{
	font-family:gothamXLight;
	src:url('../fonts/Gotham-XLight.ttf') format('true type'),
}
@font-face{
	font-family:gothamXLighti;
	src:url('../fonts/Gotham-XLightItalic.ttf') format('true type'),
}
.MG010{font-family:'MG010'}
.MG020{font-family:'MG020'}
.MG030{font-family:'MG030'}
.MG040{font-family:'MG040'}
.MG050{font-family:'MG050'}
.MG060{font-family:'MG060'}
.MG070{font-family:'MG070'}
.MG080{font-family:'MG080'}
.MG090{font-family:'MG090'}
.MG100{font-family:'MG100'}

.gothamBlack{font-family: 'gothamBlack';}
.gothamBlacki{font-family: 'gothamBlacki';}
.gothamBold{font-family: 'gothamBold';}
.gothamBoldi{font-family: 'gothamBoldi';}
.gothamLight{font-family: 'gothamLight';}
.gothamLighti{font-family: 'gothamLighti';}
.gothamMedium{font-family: 'gothamMedium';}
.gothamMediumi{font-family: 'gothamMediumi';}
.gothamThin{font-family: 'gothamThin';}
.gothamThini{font-family: 'gothamThini';}
.gothamUltra{font-family: 'gothamUltra';}
.gothamUltrai{font-family: 'gothamUltrai';}
.gothamXLight{font-family: 'gothamXLight';}
.gothamXLighti{font-family: 'gothamXLighti';}

.georgia{font-family:georgia;}
.georgiab{font-family:georgiab;}
.georgiai{font-family:georgiai;}
.georgiaz{font-family:georgiaz;}
.monbaiti{font-family:monbaiti;}
/*보편적 스타일링 reset.css*/
html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
blockquote, p, address, pre, cite,
form, fieldset, input, textarea, select,
table, th, td {
	margin:0;
	padding:0;

}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}

fieldset, img, abbr,acronym { border:0 none; }

ol, ul { list-style:none; }

table {
	border-collapse: separate;
	border-spacing:0;
	border:0 none;
}
caption, th, td {
	text-align:left;
	font-weight: normal;
	border:0;
}

address, caption, strong, em, cite {
	font-weight:normal;
	font-style:normal;
}
ins { text-decoration:none; }
del { text-decoration:line-through; }

blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }

hr { display:none; }

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img, video { max-width:100%; border:0; vertical-align:top; }
audio, canvas, video { display:inline-block; *display:inline; *zoom: 1; }

* { margin:0; padding:0; border:0; outline:0; vertical-align:top; box-sizing:border-box; }
ul, ol, dl { list-style:none; }
a { vertical-align:top; text-decoration:none; color:#333; }
table { border-collapse:collapse; border-spacing:0; }
/* 사파리 input border 라운드 0 처리  */
input {-webkit-appearance: none; -webkit-border-radius: 0;
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
  
}
input, select, label { vertical-align:middle; }
button, input, select, textarea { 	caret-color: #2b2b2b;font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;font-family:'MG030','Noto Sans KR',sans-serif;font-weight:normal;letter-spacing:normal;}
button, input { line-height:normal;}
button, select { text-transform:none; }

select {
     -webkit-appearance: none;/* 네이티브 외형 감추기*/
     -moz-appearance: none;
     appearance: none;
    font-family:'MG030','Noto Sans KR',sans-serif;font-weight:normal;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}
body { font-size:100%; line-height:1.2; font-family:'MG030','Noto Sans KR', sans-serif;font-weight:normal;letter-spacing:calc(100vw * (-1.02/640));}
label { cursor:pointer; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor: pointer; *overflow:visible; }

input[type="text"],
textarea
{
	caret-color: black !important;
	color: gray;  /* change [placeholder color] by this*/
  text-shadow: none;
  -webkit-text-fill-color: initial;

}

input[type='text']::-webkit-input-placeholder{
	caret-color: black !important;
  color: gray;  /* change [placeholder color] by this*/
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

input[type='text']:focus,
textarea:focus,
input[type='text']:active,
textarea:active,
input[type='text']:hover,
textarea:hover,
input[type='text']:visited,
textarea:visited
 {
  caret-color: black !important;
}


textarea { overflow:auto; vertical-align:top; }

html, body {
  height: 100%;
  background-color: #fff;
  color: #000;
  caret-color: black !important;
  -webkit-overflow-scrolling: touch;
}

address {
  font-style: normal;
}


@media all and (min-width:820px){
     body {
          overflow-x:hidden; font-size:calc(800px * (20/640));letter-spacing:calc(800px * (-1.02/640));
     }
    button, input, select, textarea {letter-spacing:normal;}

}
