.review_section_title{
    padding: 0 calc(100vw * (40 / 640));
}
.review_section_title h2{
    font-size: calc(100vw * (35 / 640));
    line-height: calc(100vw * (45 / 640));
    letter-spacing: calc(100vw * (-1.75 / 640));
}
.review_section_title h2 strong{
    display: block;
}
.review_content{
    position: relative;
    margin-top: calc(100vw * (36 / 640));
}
.review_section_filter{
    padding-left: calc(100vw * (40 / 640));
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.review_section_filter::-webkit-scrollbar{
    display: none;
}
.review_section_filter ul{
    display: flex;
}
.review_section_filter ul li{
    white-space: nowrap;
    border: 1px solid #68c0b5;
    border-radius: calc(100vw * (30 / 640));
    margin-right: calc(100vw * (5/640));
    margin-bottom: calc(100vw * (5/640));
    padding: calc(100vw * (8 / 640)) calc(100vw * (23.5 / 640));
    font-size: calc(100vw * (18 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    line-height: calc(100vw * (19 / 640));
}
.review_section_filter ul li.active{
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.review_section_picks{
    background-color: #68C0B5;
    margin-top: calc(100vw * (40 / 640));
    padding: calc(100vw * (90 / 640)) 0 calc(100vw * (90 / 640)) calc(100vw * (90 / 640));
}
.review_section_picks_item{
    margin-top: 0;
    transition: margin-top .3s;
}
/* .review_section_picks_item:first-child{
    margin-top: 0 !important;
}
.review_section_picks_item.active{
    margin-top: calc(100vw * (88 / 640));
    transition: margin-top .3s;
} */
.review_section_picks_item:not(:last-child){
    margin-bottom: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_top{
    background-color: #fff;
    display:flex;
    border-top-left-radius: calc(100vw * (30 / 640));
    padding: calc(100vw * (30 / 640)) calc(100vw * (27 / 640));
}
.review_section_picks_item .item_top .item_top_thumbnail{
    display:block;
    min-width: calc(100vw * (198 / 640));
    transform: scale(1);
    transform-origin: right bottom;
    transition: transform .3s;
}
.review_section_picks_item.active .item_top .item_top_thumbnail{
    transform: scale(1.4);
    transition: transform .3s;
}
.review_section_picks_item .item_top .item_top_thumbnail img{
    height: calc(100vw * (198 / 640));
    object-fit: cover;
    display: block;
    border-radius: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_top .item_review_detail{
    margin-left: calc(100vw * (23 / 640));
}
.review_section_picks_item .item_top .item_review_detail h3{
    font-size: calc(100vw * (25 / 640));
    line-height: calc(100vw * (30 / 640));
    letter-spacing: calc(100vw * (-.5 / 640));
    max-height: calc(100vw * (60 / 640));
    margin-bottom: calc(100vw * (14 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.review_section_picks_item .item_top .item_review_detail p{
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (27 / 640));
    letter-spacing: calc(100vw * (-1.02 / 640));
    max-height: calc(100vw * (81 / 640));
    margin-bottom: calc(100vw * (20 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.review_section_picks_item .item_review_point{
    display: flex;
}
.review_section_picks_item .item_review_point .item_starbox{
    display: flex;
}
.review_section_picks_item .item_review_point .item_starbox [class^='item_star']{
    position: relative;
    width: calc(100vw * (23 / 640));
    height: calc(100vw * (21 / 640));
    margin-right: calc(100vw * (6.5 /640));
}
.review_section_picks_item .item_review_point .item_starbox [class^='item_star'] img{
    position:absolute;
    left: 0;
    height: 100%;
    width: auto;
}
.review_section_picks_item .item_review_point .item_starbox [class^='item_star'] img:first-child{
    filter: grayscale(1);
    z-index: 0;
}
.review_section_picks_item .item_review_point .item_starbox [class^='item_star'] img:last-child{
    z-index: 1;
}
.review_section_picks_item .item_review_point .item_star_num{
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (22 / 640));
    letter-spacing: calc(100vw * (-1.08 / 640));
    margin-top: calc(100vw * (2 / 640));
}
.review_section_picks_item .item_bottom{
    background-color: #fff;
    margin-top: -1px;
    position: relative;
    padding-bottom: calc(100vw * (12 / 640));
    border-bottom-left-radius: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_wrap{
    width: 100%;
    margin-bottom: calc(100vw * (16 / 640));
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.review_section_picks_item .item_bottom .item_review_list_wrap::-webkit-scrollbar{
    display: none;
}
.review_section_picks_item .item_bottom .item_review_list_wrap ul{
    display: flex;
    margin: 0 calc(100vw * (27 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_wrap ul li{
    display: flex;
    margin-right: calc(100vw * (10 / 640));
}
.review_section_picks_item .item_bottom .item_review_list{
    background-color: #ececec;
    padding: calc(100vw * (18.5 / 640)) calc(100vw * (19.5 / 640));
    border-top-left-radius: calc(100vw * (30 / 640));
    border-bottom-left-radius: calc(100vw * (30 / 640));
    width: calc(100vw * (213 / 640));
    height: calc(100vw * (106 / 640));
}
.review_section_picks_item .item_bottom .item_review_list .item_review_list_text{
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (22 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    max-height: calc(100vw * (41 / 640));
    margin-bottom: calc(100vw * (17.5 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.review_section_picks_item .item_bottom .item_review_list .item_review_point .item_starbox [class^='item_star']{
    width: calc(100vw * (14 /640));
    height: calc(100vw * (13 /640));
    margin-right: calc(100vw * (4 /640));
}
.review_section_picks_item .item_bottom .item_review_list .item_review_point .item_star_num{
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (17 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    margin-top: 0;
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail{
    position: relative;
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right{
    display: block;
    width: calc(100vw * (123 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right img{
    height: calc(100vw * (106 / 640));
    object-fit: cover;
    display: block;
    border-top-right-radius: calc(100vw * (30 / 640));
    border-bottom-right-radius: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_profile{
    position: absolute;
    display: block;
    width: calc(100vw * (43 / 640));
    height: calc(100vw * (43 / 640));
    overflow: hidden;
    border-radius: 50%;
    left: calc(100vw * (-21 / 640));
    bottom: calc(100vw * (8 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_profile img{
    object-fit: cover;
    display: block;
}
.review_section_picks_item .item_bottom .item_review_more{
    margin-left: calc(100vw * (27 / 640));
    color: #68C0B5;
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (30 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
}

/* dummy */
.review_content_dummy{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}
.review_content_dummy .review_section_filter ul li{
    border: 0;
    background-color: #ececec;
    min-width: calc(100vw * (159 / 640));
    height: calc(100vw * (37 / 640));
}
.review_content_dummy .review_section_picks_item .item_top .item_top_thumbnail{
    transform: scale(1) !important;
    height: calc(100vw * (198 / 640));
    background-color: #ececec;
    border-radius: calc(100vw * (30 / 640));
}
.review_content_dummy .review_section_picks_item .item_top .item_review_detail h3 span{
    height: calc(100vw * (27 / 640));
    min-width: calc(100vw * (260 / 640));
    margin-bottom: calc(100vw * (5 / 640));
    background-color: #ececec;
    display:block;
}
.review_content_dummy .review_section_picks_item .item_top .item_review_detail p span{
    height: calc(100vw * (22 / 640));
    min-width: calc(100vw * (260 / 640));
    margin-bottom: calc(100vw * (5 / 640));
    background-color: #ececec;
    display:block;
}
.review_content_dummy .review_section_picks_item .item_review_point .item_starbox [class^='item_star'] img{
    display: block !important;
    filter: grayscale(1) !important;
    opacity: .5;
}
.review_content_dummy .review_section_picks_item .item_bottom .item_review_list .item_review_list_text span{
    height: calc(100vw * (18 / 640));
    min-width: calc(100vw * (260 / 640));
    margin-bottom: calc(100vw * (5 / 640));
    background-color: #fff;
    display:block;
}
.review_content_dummy .review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right{
    height: calc(100vw * (106 / 640));
    border: 1px solid #ececec;
    border-top-right-radius: calc(100vw * (30 / 640));
    border-bottom-right-radius: calc(100vw * (30 / 640));
}
.review_content_dummy .review_section_picks_item .item_bottom .item_review_more{
    width: calc(100vw * (240 / 640));
    height: calc(100vw * (19 / 640));
    margin-bottom: calc(100vw * (8 / 640));
    background-color: #ececec;
}

/* star point style */
.review_section_picks_item .item_review_point[class$='0'] .item_starbox [class^='item_star'] img:last-child{
    display: none;
}
/* 0.5 */
.review_section_picks_item .item_review_point.star05 .item_starbox .item_star_20 img:last-child,
.review_section_picks_item .item_review_point.star05 .item_starbox .item_star_30 img:last-child,
.review_section_picks_item .item_review_point.star05 .item_starbox .item_star_40 img:last-child,
.review_section_picks_item .item_review_point.star05 .item_starbox .item_star_50 img:last-child{
    display: none;
}
/* 1.0 */
.review_section_picks_item .item_review_point.star10 .item_starbox .item_star_20 img:last-child,
.review_section_picks_item .item_review_point.star10 .item_starbox .item_star_30 img:last-child,
.review_section_picks_item .item_review_point.star10 .item_starbox .item_star_40 img:last-child,
.review_section_picks_item .item_review_point.star10 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.review_section_picks_item .item_review_point.star10 .item_starbox .item_star_10 img:first-child{
    filter: none;
}
/* 1.5 */
.review_section_picks_item .item_review_point.star15 .item_starbox .item_star_30 img:last-child,
.review_section_picks_item .item_review_point.star15 .item_starbox .item_star_40 img:last-child,
.review_section_picks_item .item_review_point.star15 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.review_section_picks_item .item_review_point.star15 .item_starbox .item_star_10 img:first-child{
    filter: none;
}
/* 2.0 */
.review_section_picks_item .item_review_point.star20 .item_starbox .item_star_30 img:last-child,
.review_section_picks_item .item_review_point.star20 .item_starbox .item_star_40 img:last-child,
.review_section_picks_item .item_review_point.star20 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.review_section_picks_item .item_review_point.star20 .item_starbox .item_star_10 img:first-child,
.review_section_picks_item .item_review_point.star20 .item_starbox .item_star_20 img:first-child{
    filter: none;
}
/* 2.5 */
.review_section_picks_item .item_review_point.star25 .item_starbox .item_star_40 img:last-child,
.review_section_picks_item .item_review_point.star25 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.review_section_picks_item .item_review_point.star25 .item_starbox .item_star_10 img:first-child,
.review_section_picks_item .item_review_point.star25 .item_starbox .item_star_20 img:first-child{
    filter: none;
}
/* 3.0 */
.review_section_picks_item .item_review_point.star30 .item_starbox .item_star_40 img:last-child,
.review_section_picks_item .item_review_point.star30 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.review_section_picks_item .item_review_point.star30 .item_starbox .item_star_10 img:first-child,
.review_section_picks_item .item_review_point.star30 .item_starbox .item_star_20 img:first-child,
.review_section_picks_item .item_review_point.star30 .item_starbox .item_star_30 img:first-child{
    filter: none;
}
/* 3.5 */
.review_section_picks_item .item_review_point.star35 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.review_section_picks_item .item_review_point.star35 .item_starbox .item_star_10 img:first-child,
.review_section_picks_item .item_review_point.star35 .item_starbox .item_star_20 img:first-child,
.review_section_picks_item .item_review_point.star35 .item_starbox .item_star_30 img:first-child{
    filter: none;
}
/* 4.0 */
.review_section_picks_item .item_review_point.star40 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.review_section_picks_item .item_review_point.star40 .item_starbox .item_star_10 img:first-child,
.review_section_picks_item .item_review_point.star40 .item_starbox .item_star_20 img:first-child,
.review_section_picks_item .item_review_point.star40 .item_starbox .item_star_30 img:first-child,
.review_section_picks_item .item_review_point.star40 .item_starbox .item_star_40 img:first-child{
    filter: none;
}
/* 4.5 */
.review_section_picks_item .item_review_point.star45 .item_starbox .item_star_10 img:first-child,
.review_section_picks_item .item_review_point.star45 .item_starbox .item_star_20 img:first-child,
.review_section_picks_item .item_review_point.star45 .item_starbox .item_star_30 img:first-child,
.review_section_picks_item .item_review_point.star45 .item_starbox .item_star_40 img:first-child{
    filter: none;
}
/* 5.0 */
.review_section_picks_item .item_review_point.star50 .item_starbox .item_star_10 img:first-child,
.review_section_picks_item .item_review_point.star50 .item_starbox .item_star_20 img:first-child,
.review_section_picks_item .item_review_point.star50 .item_starbox .item_star_30 img:first-child,
.review_section_picks_item .item_review_point.star50 .item_starbox .item_star_40 img:first-child,
.review_section_picks_item .item_review_point.star50 .item_starbox .item_star_50 img:first-child{
    filter: none;
}