/* *{outline: 1px solid rgba(255,0,0,0.1)} */

.review_wrapper{
    max-width: 640px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}
.review_header_wrap{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 100;
}
.review_content_wrap{
    padding-top: calc(100vw * (209 / 640));
}
.review_wrapper .review_header{
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 44px 40px; */
    padding: calc(100vw * (44 / 640)) calc(100vw * (40 / 640));
}
.review_wrapper .review_header .review_img_back{
    width: calc(100vw * (27 / 640));
    height: calc(100vw * (35 / 640));
    /* width: 27px; */
    /* height: 35px; */
}
.review_wrapper .review_header .review_img_logo{
    width: calc(100vw * (144.7 / 640));
    height: calc(100vw * (37 / 640));
    /* width: 144.7px; */
    /* height: 37px; */
}
.review_wrapper .review_header .review_img_search{
    width: calc(100vw * (35 / 640));
    height: calc(100vw * (35 / 640));
    /* width: 35px; */
    /* height: 35px; */
}
.active_shadow{ 
    box-shadow: 0px 15px 20px -10px grey; 
} 
.review_menu{
    /* padding: 30px 40px; */
    top: calc(100vw * (125 / 640));
    left: 0;
    padding: calc(100vw * (30 / 640)) calc(100vw * (40 / 640));
}
.review_menu ul{
    display: flex;
}
.review_menu ul li{
    position: relative;
    color: #68c0b5;
    opacity: 0.5;
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (24 / 640));
    letter-spacing: calc(100vw *(-.2 / 640));
}
.review_menu ul li.active{
    opacity: 1;
}
.review_menu ul li.active:after{
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #68c0b5;
    position: absolute;
    bottom: -2.5px;
}
.review_menu ul li:not(:last-child){
    margin-right: calc(100vw *(21 / 640));
}
.review_banner_box{
    margin-bottom: calc(100vw * (36 / 640));
}

/* review search modal */
.modal_review .review_header .empty{
    width: calc(100vw * (35 / 640));
    height: calc(100vw * (35 / 640));
}
.modal_review .modal_review_body{
    padding: calc(100vw * (40 / 640)) calc(100vw * (40 / 640)) 0;
}
.modal_review .modal_review_title{
    font-size: calc(100vw * (45 / 640));
    line-height: calc(100vw * (55 / 640));
    letter-spacing: calc(100vw * (-2.25 / 640));
}
.modal_review .modal_review_inputwrap{
    margin-top: calc(100vw * (60 / 640));
    padding-bottom: calc(100vw * (100 / 640));
}
.modal_review .modal_review_inputwrap label{
    width: 100%;
    display: block;
    font-size: calc(100vw * (30 / 640));
    line-height: calc(100vw * (33 / 640));
    letter-spacing: calc(100vw * (-1.5 / 640));
}
.modal_review .modal_review_inputwrap input{
    border: 0;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (33 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    padding: calc(100vw * (15 / 640)) 0;
}
.modal_review .modal_review_inputwrap .review_search_button{
    position: fixed;
    background-color: #68C0B5;
    color: #fff;
    width: 100%;
    left: 0;
    bottom: 0;
    height: calc(100vw * (100 / 640));
    font-size: calc(100vw * (30 / 640));
    line-height: calc(100vw * (27 / 640));
    letter-spacing: calc(100vw * (-1 / 640));
}