.review_section_title{
    padding: 0 calc(100vw * (40 / 640));
}
.review_section_title h2{
    font-size: calc(100vw * (35 / 640));
    line-height: calc(100vw * (45 / 640));
    letter-spacing: calc(100vw * (-1.75 / 640));
}
.review_section_title h2 strong{
    display: block;
}
.review_content{
    position: relative;
    margin-top: calc(100vw * (36 / 640));
}

/* review pick */
.review_section_filter{
    padding-left: calc(100vw * (40 / 640));
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.review_section_filter::-webkit-scrollbar{
    display: none;
}
.review_section_filter ul{
    display: flex;
}
.review_section_filter ul li{
    white-space: nowrap;
    border: 1px solid #68c0b5;
    border-radius: calc(100vw * (30 / 640));
    margin-right: calc(100vw * (5/640));
    margin-bottom: calc(100vw * (5/640));
    padding: calc(100vw * (8 / 640)) calc(100vw * (23.5 / 640));
    font-size: calc(100vw * (18 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    line-height: calc(100vw * (19 / 640));
}
.review_section_filter ul li.active{
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.review_section_picks{
    position: relative;
    background-color: #68C0B5;
    margin-top: calc(100vw * (40 / 640));
    padding: calc(100vw * (90 / 640)) 0 calc(100vw * (90 / 640)) calc(100vw * (90 / 640));
}
.review_section_picks_item{
    margin-top: 0;
    transition: margin-top .3s;
}
/* .review_section_picks_item:first-child{
    margin-top: 0 !important;
}
.review_section_picks_item.active{
    margin-top: calc(100vw * (88 / 640));
    transition: margin-top .3s;
} */
.review_section_picks_item:not(:last-child){
    margin-bottom: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_top{
    background-color: #fff;
    display:flex;
    border-top-left-radius: calc(100vw * (30 / 640));
    padding: calc(100vw * (30 / 640)) calc(100vw * (27 / 640));
}
.review_section_picks_item .item_top .item_top_thumbnail{
    display:block;
    min-width: calc(100vw * (198 / 640));
    transform: scale(1);
    transform-origin: right bottom;
    transition: transform .3s;
}
.review_section_picks_item.active .item_top .item_top_thumbnail{
    transform: scale(1.4);
    transition: transform .3s;
}
.review_section_picks_item .item_top .item_top_thumbnail img{
    height: calc(100vw * (198 / 640));
    object-fit: cover;
    display: block;
    border-radius: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_top .item_review_detail{
    margin-left: calc(100vw * (23 / 640));
}
.review_section_picks_item .item_top .item_review_detail h3{
    font-size: calc(100vw * (25 / 640));
    line-height: calc(100vw * (30 / 640));
    letter-spacing: calc(100vw * (-.5 / 640));
    max-height: calc(100vw * (60 / 640));
    margin-bottom: calc(100vw * (14 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.review_section_picks_item .item_top .item_review_detail p{
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (27 / 640));
    letter-spacing: calc(100vw * (-1.02 / 640));
    max-height: calc(100vw * (81 / 640));
    margin-bottom: calc(100vw * (20 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.item_review_point{
    display: flex;
}
.item_review_point .item_starbox{
    display: flex;
}
.item_review_point .item_starbox [class^='item_star']{
    position: relative;
    width: calc(100vw * (23 / 640));
    height: calc(100vw * (21 / 640));
    margin-right: calc(100vw * (6.5 /640));
}
.item_review_point .item_starbox [class^='item_star'] img{
    position:absolute;
    left: 0;
    height: 100%;
    width: auto;
}
.item_review_point .item_starbox [class^='item_star'] img:first-child{
    filter: grayscale(1);
    z-index: 0;
}
.item_review_point .item_starbox [class^='item_star'] img:last-child{
    z-index: 1;
}
.item_review_point .item_star_num{
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (22 / 640));
    letter-spacing: calc(100vw * (-1.08 / 640));
    margin-top: calc(100vw * (2 / 640));
}
.review_section_picks_item .item_bottom{
    background-color: #fff;
    margin-top: -1px;
    position: relative;
    padding-bottom: calc(100vw * (12 / 640));
    border-bottom-left-radius: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_wrap{
    width: 100%;
    margin-bottom: calc(100vw * (16 / 640));
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.review_section_picks_item .item_bottom .item_review_list_wrap::-webkit-scrollbar{
    display: none;
}
.review_section_picks_item .item_bottom .item_review_list_wrap ul{
    display: flex;
    margin: 0 calc(100vw * (27 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_wrap ul li{
    display: flex;
    margin-right: calc(100vw * (10 / 640));
}
.review_section_picks_item .item_bottom .item_review_list{
    background-color: #ececec;
    padding: calc(100vw * (18.5 / 640)) calc(100vw * (19.5 / 640));
    border-top-left-radius: calc(100vw * (30 / 640));
    border-bottom-left-radius: calc(100vw * (30 / 640));
    width: calc(100vw * (213 / 640));
    height: calc(100vw * (106 / 640));
}
.review_section_picks_item .item_bottom .item_review_list .item_review_list_text{
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (22 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    max-height: calc(100vw * (41 / 640));
    margin-bottom: calc(100vw * (17.5 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.review_section_picks_item .item_bottom .item_review_list .item_review_point .item_starbox [class^='item_star']{
    width: calc(100vw * (14 /640));
    height: calc(100vw * (13 /640));
    margin-right: calc(100vw * (4 /640));
}
.review_section_picks_item .item_bottom .item_review_list .item_review_point .item_star_num{
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (17 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    margin-top: 0;
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail{
    position: relative;
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right{
    display: block;
    width: calc(100vw * (123 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right img{
    height: calc(100vw * (106 / 640));
    object-fit: cover;
    display: block;
    border-top-right-radius: calc(100vw * (30 / 640));
    border-bottom-right-radius: calc(100vw * (30 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_profile{
    position: absolute;
    display: block;
    width: calc(100vw * (43 / 640));
    height: calc(100vw * (43 / 640));
    overflow: hidden;
    border-radius: 50%;
    left: calc(100vw * (-21 / 640));
    bottom: calc(100vw * (8 / 640));
}
.review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_profile img{
    object-fit: cover;
    display: block;
}
.review_section_picks_item .item_bottom .item_review_more{
    margin-left: calc(100vw * (27 / 640));
    color: #68C0B5;
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (30 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
}

/* dummy */
.review_content_dummy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    overflow: hidden;
}
/* .review_content_dummy{
    opacity: .9;
}
.review_content_dummy *{
    outline: 1px solid rgba(0,0,255,0.5);
} */
.review_content_dummy_pick{
    margin: 0;
}
.review_content_dummy_pick .review_section_filter ul li{
    border: 0;
    background-color: #ececec;
    min-width: calc(100vw * (159 / 640));
    height: calc(100vw * (37 / 640));
}
.review_content_dummy_pick .review_section_picks{
    background-color: #fff;
    margin-top: 0;
}
.review_content_dummy_pick .review_section_picks_item .item_bottom .item_review_list{
    background-color: #fff;
}
.review_content_dummy_pick .review_section_picks_item .item_top .item_top_thumbnail{
    transform: scale(1) !important;
    height: calc(100vw * (198 / 640));
    background-color: #ececec;
    border-radius: calc(100vw * (30 / 640));
}
.review_content_dummy_pick .review_section_picks_item .item_top .item_review_detail h3 span{
    height: calc(100vw * (27 / 640));
    min-width: calc(100vw * (260 / 640));
    margin-bottom: calc(100vw * (5 / 640));
    border-radius: calc(100vw * (5 / 640));
    background-color: #ececec;
    display:block;
}
.review_content_dummy_pick .review_section_picks_item .item_top .item_review_detail p span{
    height: calc(100vw * (22 / 640));
    min-width: calc(100vw * (260 / 640));
    margin-bottom: calc(100vw * (5 / 640));
    border-radius: calc(100vw * (5 / 640));
    background-color: #ececec;
    display:block;
}
.review_content_dummy_pick .review_section_picks_item .item_review_point .item_starbox [class^='item_star'] img{
    display: block !important;
    filter: grayscale(1) !important;
    opacity: .5;
}
.review_content_dummy_pick .review_section_picks_item .item_bottom .item_review_list .item_review_list_text span{
    height: calc(100vw * (18 / 640));
    min-width: calc(100vw * (260 / 640));
    margin-bottom: calc(100vw * (5 / 640));
    border-radius: calc(100vw * (5 / 640));
    background-color: #ececec;
    display:block;
}
.review_content_dummy_pick .review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right{
    height: calc(100vw * (106 / 640));
    background-color: #ececec;
    border-radius: calc(100vw * (5 / 640));
    border-top-right-radius: calc(100vw * (30 / 640));
    border-bottom-right-radius: calc(100vw * (30 / 640));
}
.review_content_dummy_pick .review_section_picks_item .item_bottom .item_review_more{
    width: calc(100vw * (240 / 640));
    height: calc(100vw * (19 / 640));
    margin-bottom: calc(100vw * (8 / 640));
    border-radius: calc(100vw * (5 / 640));
    background-color: #ececec;
}
.review_content_dummy_all_category .review_section_category_filter ul li:first-child:before{
    background-color: #ECECEC;
}
.review_content_dummy_all_category .review_section_category_filter ul li span{
    height: calc(100vw * (22 / 640));
    background-color: #ececec;
    border-radius: calc(100vw * (5 / 640));
    bottom: calc(100vw * (-50 / 640));
}
.review_content_dummy_all_category .review_section_all_item .dummy_img{
    width: 100%;
    height: calc(100vw * (284 / 640));
    background-color: #ececec;
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .review_section_all_item .item_title h3{
    background-color: #ececec;
    height: calc(100vw * (20 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .review_section_all_item .item_title .dummy_star{
    background-color: #ececec;
    width: calc(100vw * (110 / 640));
    height: calc(100vw * (17 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .checkbox .dummy_label{
    background-color: #ececec;
    width: calc(100vw * (175 / 640));
    height: calc(100vw * (17 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .review_section_live h3{
    background-color: #ececec;
    height: calc(100vw * (35 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .review_section_live .view_total{
    background-color: #ececec;
    width: calc(100vw * (110 / 640));
    height: calc(100vw * (20 / 640));
    border-radius: calc(100vw * (5 / 640));
    margin-right: calc(100vw * (40 / 640));
    float: right;
}
.review_content_dummy_all_category .review_section_live .view_total:after{
    content: '';
    display: table;
    clear: both;
}
.review_content_dummy_all_category .review_section_live .item_review_list .item_review_list_text span{
    display: block;
    background-color: #ececec;
    height: calc(100vw * (17 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .review_section_live .item_review_list .item_review_list_text span:first-child{
    margin-bottom: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .review_section_live .item_review_list .dummy_star{
    background-color: #ececec;
    height: calc(100vw * (17 / 640));
    width: calc(100vw * (110 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_category .review_section_live .item_review_list_thumbnail{
    background-color: #ececec;
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_brand .review_brand_list{
    margin-top: 0;
}
.review_content_dummy_all_brand .review_brand_list li{
    border: 0;
}
.review_content_dummy_all_brand .review_brand_list li .brand_logo{
    background-color: #ececec;
    border-radius: calc(100vw * (5 / 640));
    border-bottom: 0;
}
.review_content_dummy_all_brand .review_brand_list li h4{
    background-color: #ececec;
    height: calc(100vw * (24 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_brand .review_brand_list li .review_brand_info .brand_detail .product{
    background-color: #ececec;
    height: calc(100vw * (25 / 640));
    width: calc(100vw * (86 / 640));
    border-radius: calc(100vw * (5 / 640));
    margin-bottom: calc(100vw * (5 / 640));
}
.review_content_dummy_all_brand .review_brand_list li .review_brand_info .brand_detail .review_count{
    background-color: #ececec;
    height: calc(100vw * (25 / 640));
    width: calc(100vw * (86 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_all_brand .review_brand_list li .review_brand_info .brand_follow{
    background-color: #ececec;
}
.review_content_dummy_campaign .review_section_campaign{
    margin-top: 0;
}
.review_content_dummy_campaign .review_section_campaign_item .dummy_img{
    background-color: #ececec;
    height: calc(100vw * (329 / 640));
    margin: calc(100vw * (10 / 640));
    border-radius: calc(100vw * (5 / 640));
}
.review_content_dummy_campaign .review_section_campaign_item .item_title h3{
    background-color: #ececec;
    height: calc(100vw * (24 / 640));
    border-radius: calc(100vw * (5 / 640));
}

.review_content_dummy .dummy_effect{
    position: absolute;
    width: 140%;
    height: calc(100vw * (400 / 640));
    left: -20%;
    transform: rotate(-15deg);
    top: calc(100vw * (-400) / 640);
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
    mix-blend-mode: hard-light;
    animation: dummy 3s infinite;
    z-index: 3;
}
@keyframes dummy {
    0%{
        top: calc(100vw * (-400) / 640);
    }
    90%{
        opacity: 1;
    }
    100%{
        top: 200vh;
        opacity: 0;
    }
}

/* review all */
.review_section_tab2{
    padding: 0 calc(100vw * (40 / 640));
}
.review_section_tab2 ul{
    display: flex;
}
.review_section_tab2 ul li{
    width: 50%;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: calc(100vw * (30 / 640));
    padding: calc(100vw * (13 / 640)) 0;
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (22 / 640));
    letter-spacing: calc(100vw * (-1 / 640));
}
.review_section_tab2 ul li.active{
    background-color: #000;
    color: #fff;
}
.review_section_tab2 ul li:first-child{
    margin-right: calc(100vw * (14 / 640));
}
.review_section_tab2_content{
    position: relative;
}
.review_section_category_filter{
    padding: calc(100vw * (70 / 640)) calc(100vw * (40 / 640)) calc(100vw * (50 / 640));
}
.review_section_category_filter ul{
    display: flex;
    justify-content: space-between;
}
.review_section_category_filter ul li{
    /* width: calc(100% / 6); */
    text-align: center;
    position: relative;
}
.review_section_category_filter ul li:before{
    content: '';
    display: block;
    position: relative;
    width: calc(100vw * (70 / 640));
    height: calc(100vw * (70 / 640));
    background-color: #ECECEC;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.review_section_category_filter ul li:first-child:before{
    background-color: #fff;
}
.review_section_category_filter ul li img{
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw * (70 / 640));
}
.review_section_category_filter ul li span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: keep-all;
    left: 50%;
    border-bottom: 3px solid transparent;
    transform: translate(-50%, -50%);
    padding-bottom: calc(100vw * (5 / 640));
    bottom: calc(100vw * (-70 / 640));
    width: calc(100vw * (50 / 640));
    height: calc(100vw * (39 / 640));
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-.75 / 640));
}
.review_section_category_filter ul li.active span{
    border-bottom: 3px solid #68c0b5;
}
.review_section_category_filter ul li .loader_box{
    background: linear-gradient(45deg, transparent, transparent 40%, #68C0B5);
    /* clip-path: url(#donut); */
    -webkit-mask-image: radial-gradient(transparent 60%, #000 40%);
    mask-image: radial-gradient(transparent 60%, #000 40%);
    position: absolute;
    border-radius: 50%;
    width: calc(100vw * (70 / 640));
    height: calc(100vw * (70 / 640));
    top: 0;
    animation: loader 1s linear infinite;
    display: none;
}
.review_section_category_filter ul li.on_loading .loader_box{
    display: block;
}
.review_section_category_filter ul li .loader_box:after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, transparent, transparent 40%, #68C0B5);
    border-radius: 50%;
    z-index: -1;
    filter: blur(30px);
}
@keyframes loader{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.review_section_column2{
    display: flex;
    padding: 0 calc(100vw * (40 / 640));
    margin-top: calc(100vw * (50 / 640));
}
.review_section_column2 ul{
    width: 50%;
}
.review_section_column2 ul:first-child{
    margin-right: calc(100vw * (24 / 640));
}
.review_section_all_item{
    overflow: hidden;
    position: relative;
    width: calc(100vw * (268 / 640));
    height: calc(100vw * (364 / 640));
    border-radius: calc(100vw * (30 / 640));
}
.review_section_all_item:not(:last-child){
    margin-bottom: calc(100vw * (15 / 640));
}
.review_section_all_item img{
    position: absolute;
    top: 0;
    object-fit: cover;
}
.review_section_all_item .item_label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68C0B5;
    border-radius: 50%;
    color: #fff;
    z-index: 1;
    width: calc(100vw * (62 / 640));
    height: calc(100vw * (62 / 640));
    top: calc(100vw * (8 / 640));
    right: calc(100vw * (8 / 640));
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: normal;
}
.review_section_all_item .item_title{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
    width: 100%;
    height: calc(100vw * (80 / 640));
    padding: calc(100vw * (16 / 640)) calc(100vw * (20 / 640));
}
.review_section_all_item .item_title h3{
    width: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-.85 / 640));
    margin-bottom: calc(100vw * (10 / 640));
}
.review_section_all_item .item_review_point .item_starbox [class^='item_star']{
    width: calc(100vw * (14 /640));
    height: calc(100vw * (13 /640));
    margin-right: calc(100vw * (4 /640));
}
.review_section_all_item .item_review_point .item_star_num{
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (17 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    margin-top: 0;
}
.review_section_column2 .checkbox{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 calc(100vw * (70 / 640)) 0;
}
.review_section_column2 .checkbox label{
    padding: 0;
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-1.02 / 640));
    margin-right: calc(100vw * (12 / 640));
    min-height: 0;
}
.review_section_column2 .checkbox .checkbox_controller{
    width: calc(100vw * (20 / 640));
}
.review_section_column2 .checkbox .checkbox_controller .box{
    display: block;
    position: relative;
    min-height: 0;
    width: calc(100vw * (20 / 640));
    height: calc(100vw * (20 / 640));
    border-radius: calc(100vw * (3 / 640));
    border: calc(100vw * (1 / 640)) solid rgb(66, 66, 66);
}
.review_section_column2 .checkbox .checkbox_controller input ~ .box:after{
    display: block;
    position: absolute;
    content: '';
    width: 80%;
    height: 50%;
    left: calc(100vw * (2 / 640));
    top: calc(100vw * (3 / 640));
    opacity: 0;
    transform: rotate(-33deg) scale(0);
    transition: all .3s;
    border-bottom: calc(100vw * (4 / 640)) solid #68C0B5;
    border-left: calc(100vw * (4 / 640)) solid #68C0B5;
}
.review_section_column2 .checkbox .checkbox_controller input:checked ~ .box:after{
    animation: checkbox .3s forwards;
    transform: rotate(-45deg) scale(1);
    opacity: 1;
    transition: all .3s;
}
@keyframes checkbox{
    0%{
        transform: rotate(-33deg) scale(0);
        opacity: 0;
    }
    50%{
        transform: rotate(-66deg) scale(1.5);
    }
    100%{
        transform: rotate(-45deg) scale(1);
        opacity: 1;
    }
}
.review_section_column2 .checkbox .checkbox_controller input{
    margin: 0;
    padding: 0;
    opacity: 0;
}
.review_section_live{
    background-color: #f3f3f3;
    margin-top: calc(100vw * (45 / 640));
    padding: calc(100vw * (35 / 640)) 0;
}
.review_section_live h3{
    font-size: calc(100vw * (35 / 640));
    line-height: calc(100vw * (35 / 640));
    letter-spacing: calc(100vw * (-1.75 / 640));
    padding: 0 calc(100vw * (40 / 640));
}
.review_section_live .view_total{
    text-align: right;
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-.85 / 640));
    margin-top: calc(100vw * (20 / 640));
    padding-right: calc(100vw * (40 / 640));
}
.review_section_live .live_list{
    width: 100%;
    margin-bottom: calc(100vw * (16 / 640));
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.review_section_live .live_list::-webkit-scrollbar{
    display: none;
}
.review_section_live .live_list ul{
    display: flex;
    margin: calc(100vw * (10 / 640)) calc(100vw * (27 / 640)) 0;
}
.review_section_live .live_list ul.list_top{
    margin-bottom: calc(100vw * (15 / 640));
    margin-left: calc(100vw * (90 / 640));
}
.review_section_live .live_list ul li{
    display: flex;
    margin-right: calc(100vw * (10 / 640));
}
.review_section_live .item_review_list{
    background-color: #fff;
    padding: calc(100vw * (18.5 / 640)) calc(100vw * (19.5 / 640));
    border-top-left-radius: calc(100vw * (30 / 640));
    border-bottom-left-radius: calc(100vw * (30 / 640));
    width: calc(100vw * (213 / 640));
    height: calc(100vw * (106 / 640));
}
.review_section_live .item_review_list .item_review_list_text{
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (22 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    max-height: calc(100vw * (41 / 640));
    margin-bottom: calc(100vw * (17.5 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.review_section_live .item_review_list .item_review_point .item_starbox [class^='item_star']{
    width: calc(100vw * (14 /640));
    height: calc(100vw * (13 /640));
    margin-right: calc(100vw * (4 /640));
}
.review_section_live .item_review_list .item_review_point .item_star_num{
    font-size: calc(100vw * (15 / 640));
    line-height: calc(100vw * (17 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    margin-top: 0;
}
.review_section_live .item_review_list_thumbnail{
    position: relative;
}
.review_section_live .item_review_list_thumbnail .item_review_list_thumbnail_right{
    display: block;
    width: calc(100vw * (123 / 640));
}
.review_section_live .item_review_list_thumbnail .item_review_list_thumbnail_right img{
    height: calc(100vw * (106 / 640));
    object-fit: cover;
    display: block;
    border-top-right-radius: calc(100vw * (30 / 640));
    border-bottom-right-radius: calc(100vw * (30 / 640));
}
.review_section_live .item_review_list_thumbnail .item_review_list_profile{
    position: absolute;
    display: block;
    width: calc(100vw * (43 / 640));
    height: calc(100vw * (43 / 640));
    overflow: hidden;
    border-radius: 50%;
    left: calc(100vw * (-21 / 640));
    bottom: calc(100vw * (8 / 640));
}
.review_section_live .item_review_list_thumbnail .item_review_list_profile img{
    object-fit: cover;
    display: block;
}
.review_section_other_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: calc(100vw * (40 / 640));
}
.review_brand_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: calc(100vw * (33 / 640));
    padding: 0 calc(100vw * (40 / 640));
}
.review_brand_list li{
    border: 1px solid #C8C8C8;
    position: relative;
    border-radius: calc(100vw * (30/ 640));
    width: calc(100vw * (275 / 640));
    height: calc(100vw * (268 / 640));
    margin-bottom: calc(100vw * (10 / 640));
}
.review_brand_list li .brand_logo{
    position: relative;
    border-bottom: .5px solid #c8c8c8;
    height: calc(100vw * (130 / 640));
    padding: calc(100vw * (20 / 640)) calc(100vw * (40 / 640));
}
.review_brand_list li .brand_logo img{
    display: block;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.review_brand_list li h4{
    text-align: center;
    font-size: calc(100vw * (23 / 640));
    line-height: calc(100vw * (24 / 640));
    letter-spacing: calc(100vw * (-1.15 / 640));
    margin-top: calc(100vw * (19 / 640));
}
.review_brand_list li .review_brand_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    margin-top: calc(100vw * (5 / 640));
    padding: calc(100vw * (10 / 640)) calc(100vw * (10 / 640)) calc(100vw * (10 / 640)) calc(100vw * (20 / 640));
}
.review_brand_list li .review_brand_info .brand_detail{
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (27 / 640));
    letter-spacing: calc(100vw * (-.34 / 640));
}
.review_brand_list li .review_brand_info .brand_detail .review_count{
    color: #68c0b5;
}
.review_brand_list li .review_brand_info .brand_follow{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #68C0B5;
    width: calc(100vw * (65 / 640));
    height: calc(100vw * (65 / 640));
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-1.02 / 640));
}

/* review campaign */
.review_section_campaign{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: calc(100vw * (30 / 640));
}
.review_section_campaign_item{
    overflow: hidden;
    position: relative;
    width: 50%;
    height: calc(100vw * (435 / 640));
}
.review_section_campaign_item img{
    position: absolute;
    top: 0;
    object-fit: cover;
}
.review_section_campaign_item .item_label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68C0B5;
    border-radius: 50%;
    color: #fff;
    z-index: 1;
    width: calc(100vw * (74 / 640));
    height: calc(100vw * (74 / 640));
    top: calc(100vw * (8 / 640));
    right: calc(100vw * (8 / 640));
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (23 / 640));
    letter-spacing: normal;
}
.review_section_campaign_item .item_title{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
    width: 100%;
    height: calc(100vw * (86 / 640));
    padding: calc(100vw * (30 / 640)) calc(100vw * (20 / 640));
}
.review_section_campaign_item .item_title h3{
    width: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (24 / 640));
    letter-spacing: calc(100vw * (-1 / 640));
}
.review_campaign_recommend{
    background-color: #68C0B5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: calc(100vw * (30 / 640)) calc(100vw * (40 / 640)) calc(100vw * (25 / 640)) calc(100vw * (40 / 640));
}
.recommend_left .text_1{
    font-size: calc(100vw * (22 / 640));
    line-height: calc(100vw * (33 / 640));
    letter-spacing: calc(100vw * (-1.1 / 640));
    margin-bottom: calc(100vw * (5 / 640));
}
.recommend_left .text_2{
    font-size: calc(100vw * (40 / 640));
    line-height: calc(100vw * (37 / 640));
    letter-spacing: calc(100vw * (-2 / 640));
    margin-bottom: calc(100vw * (17 / 640));
}
.recommend_left .text_3{
    background-color: #fff;
    color: #68C0B5;
    border-radius: calc(100vw * (30 / 640));
    padding: calc(100vw * (12 / 640)) calc(100vw * (24 / 640));
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (18 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
}
.recommend_right{
    position: relative;
    height: 100%;
}
.recommend_right .recommend_button{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw * (105 / 640));
    height: calc(100vw * (105 / 640));
    font-size: calc(100vw * (22 / 640));
    line-height: calc(100vw * (33 / 640));
    letter-spacing: calc(100vw * (-1.1 / 640));
}
.recommend_right .recommend_button img{
    position: absolute;
    position: absolute;
    bottom: calc(100vw * (-40 / 640));
    right: calc(100vw * (-15 / 640));
    width: calc(100vw * (66 / 640));
    height: calc(100vw * (76 / 640));
    transform-origin: right bottom;
    transform: translateY(0);
    animation: recommend 2s infinite;
}
@keyframes recommend{
    0%{
        transform: translateY(0);  
    }
    50%{
        transform: translateY(-20%);  
    }
    /* 60%{
        transform: translateY(20%);  
    } */
    100%{
        transform: translateY(0);  
    }
}
.review_reviewer{
    padding: calc(100vw * (60 / 640)) 0;
}
.review_reviewer h3{
    padding: 0 calc(100vw * (40 / 640));
    font-size: calc(100vw * (35 / 640));
    line-height: calc(100vw * (40 / 640));
    letter-spacing: calc(100vw * (-1.75 / 640));
    margin-bottom: calc(100vw * (25 / 640));
}
.review_reviewer_list{
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.review_reviewer_list::-webkit-scrollbar{
    display: none;
}
.review_reviewer_list ul{
    display: flex;
    margin-left: calc(100vw * (40 / 640));
}
.reviewer_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: calc(100vw * (10 / 640));
}
.reviewer_item .reviewer_imgbox{
    overflow: hidden;
    border-radius: 50%;
    width: calc(100vw * (170 / 640));
    height: calc(100vw * (170 / 640));
}
.reviewer_item .reviewer_imgbox img{
    object-fit: cover;
}
.reviewer_item .reviewer_account{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100vw * (170 / 640));
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-1 / 640));
    margin-top: calc(100vw * (15 / 640));
}
.reviewer_item .reviewer_about{
    text-align: center;
    color: #828282;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100vw * (170 / 640));
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-.85 / 640));
    margin-top: calc(100vw * (7 / 640));
}
.reviewer_item .reviewer_follow_button{
    background-color: #68C0B5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: calc(100vw * (65 / 640));
    height: calc(100vw * (65 / 640));
    font-size: calc(100vw * (17 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-1.02 / 640));
    margin-top: calc(100vw * (10 / 640));
}
.review_best_reviewer{
    background-color: #ececec;
    padding: calc(100vw * (60 / 640)) 0;
}
.review_best_reviewer h3{
    padding: 0 calc(100vw * (40 / 640));
    font-size: calc(100vw * (35 / 640));
    line-height: calc(100vw * (40 / 640));
    letter-spacing: calc(100vw * (-1.75 / 640));
    margin-bottom: calc(100vw * (25 / 640));
}
.review_best_reviewer_list{
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.review_best_reviewer_list::-webkit-scrollbar{
    display: none;
}
.review_best_reviewer_list ul{
    display: flex;
    margin-left: calc(100vw * (40 / 640));
}
.best_reviewer_item{
    background-color: #fff;
    overflow: hidden;
    border: 0.5px solid #000;
    border-radius: calc(100vw * (30 / 640));
    min-width: calc(100vw * (234 / 640));
    height: calc(100vw * (349 / 640));
    margin-right: calc(100vw * (20 / 640));
}
.best_reviewer_item .item_top{
    width: 100%;
    overflow: hidden;
    height: calc(100vw * (202 / 640));
}
.best_reviewer_item .item_top .item_bg{
    object-fit: cover;
}
.best_reviewer_item .item_bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(100vw * (40 / 640)) calc(100vw * (20 / 640)) calc(100vw * (15 / 640));
}
.best_reviewer_item .item_bottom .item_profile{
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: calc(100vw * (2 / 640)) solid #fff;
    top: calc(100vw * (-35 / 640));
    width: calc(100vw * (70 / 640));
    height: calc(100vw * (70 / 640));
}
.best_reviewer_item .item_bottom .review_title{
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (23 / 640));
    letter-spacing: calc(100vw * (-.9 / 640));
    height: calc(100vw * (44 / 640));
    margin-bottom: calc(100vw * (13.5 / 640));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.best_reviewer_item .item_bottom .review_line{
    width: calc(100vw * (53 / 640));
    border-bottom: 0.5px solid #000;
    margin-bottom: calc(100vw * (12 / 640));
}
.best_reviewer_item .item_bottom .product_name{
    color: #828282;
    font-size: calc(100vw * (16 / 640));
    line-height: calc(100vw * (22 / 640));
    letter-spacing: calc(100vw * (-.8 / 640));
}

/* star point style */
.item_review_point[class$='0'] .item_starbox [class^='item_star'] img:last-child{
    display: none;
}
/* 0.5 */
.item_review_point.star05 .item_starbox .item_star_20 img:last-child,
.item_review_point.star05 .item_starbox .item_star_30 img:last-child,
.item_review_point.star05 .item_starbox .item_star_40 img:last-child,
.item_review_point.star05 .item_starbox .item_star_50 img:last-child{
    display: none;
}
/* 1.0 */
.item_review_point.star10 .item_starbox .item_star_20 img:last-child,
.item_review_point.star10 .item_starbox .item_star_30 img:last-child,
.item_review_point.star10 .item_starbox .item_star_40 img:last-child,
.item_review_point.star10 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.item_review_point.star10 .item_starbox .item_star_10 img:first-child{
    filter: none;
}
/* 1.5 */
.item_review_point.star15 .item_starbox .item_star_30 img:last-child,
.item_review_point.star15 .item_starbox .item_star_40 img:last-child,
.item_review_point.star15 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.item_review_point.star15 .item_starbox .item_star_10 img:first-child{
    filter: none;
}
/* 2.0 */
.item_review_point.star20 .item_starbox .item_star_30 img:last-child,
.item_review_point.star20 .item_starbox .item_star_40 img:last-child,
.item_review_point.star20 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.item_review_point.star20 .item_starbox .item_star_10 img:first-child,
.item_review_point.star20 .item_starbox .item_star_20 img:first-child{
    filter: none;
}
/* 2.5 */
.item_review_point.star25 .item_starbox .item_star_40 img:last-child,
.item_review_point.star25 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.item_review_point.star25 .item_starbox .item_star_10 img:first-child,
.item_review_point.star25 .item_starbox .item_star_20 img:first-child{
    filter: none;
}
/* 3.0 */
.item_review_point.star30 .item_starbox .item_star_40 img:last-child,
.item_review_point.star30 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.item_review_point.star30 .item_starbox .item_star_10 img:first-child,
.item_review_point.star30 .item_starbox .item_star_20 img:first-child,
.item_review_point.star30 .item_starbox .item_star_30 img:first-child{
    filter: none;
}
/* 3.5 */
.item_review_point.star35 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.item_review_point.star35 .item_starbox .item_star_10 img:first-child,
.item_review_point.star35 .item_starbox .item_star_20 img:first-child,
.item_review_point.star35 .item_starbox .item_star_30 img:first-child{
    filter: none;
}
/* 4.0 */
.item_review_point.star40 .item_starbox .item_star_50 img:last-child{
    display: none;
}
.item_review_point.star40 .item_starbox .item_star_10 img:first-child,
.item_review_point.star40 .item_starbox .item_star_20 img:first-child,
.item_review_point.star40 .item_starbox .item_star_30 img:first-child,
.item_review_point.star40 .item_starbox .item_star_40 img:first-child{
    filter: none;
}
/* 4.5 */
.item_review_point.star45 .item_starbox .item_star_10 img:first-child,
.item_review_point.star45 .item_starbox .item_star_20 img:first-child,
.item_review_point.star45 .item_starbox .item_star_30 img:first-child,
.item_review_point.star45 .item_starbox .item_star_40 img:first-child{
    filter: none;
}
/* 5.0 */
.item_review_point.star50 .item_starbox .item_star_10 img:first-child,
.item_review_point.star50 .item_starbox .item_star_20 img:first-child,
.item_review_point.star50 .item_starbox .item_star_30 img:first-child,
.item_review_point.star50 .item_starbox .item_star_40 img:first-child,
.item_review_point.star50 .item_starbox .item_star_50 img:first-child{
    filter: none;
}

