@media (min-width: 641px){
    html,body{
        background-color: gray;
    }
    .review_wrapper{
        background-color: #fff;
    }
    .review_content_wrap{
        padding-top: 209px;
    }
    .review_wrapper .review_header_wrap{
        max-width: 640px;
        left: 50%;
        transform: translateX(-50%);
    }
    .review_wrapper .review_header{
        padding: 44px 40px;
    }
    .review_wrapper .review_header .review_img_back{
        width: 27px;
        height: 35px;
    }
    .review_wrapper .review_header .review_img_logo{
        width: 144.7px;
        height: 37px;
    }
    .review_wrapper .review_header .review_img_search{
        width: 35px;
        height: 35px;
    }
    .review_menu{
        top: 125px;
        left: 0;
        padding: 30px 40px;
    }
    .review_menu ul li{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -.2px;
    }
    .review_menu ul li:not(:last-child){
        margin-right: 21px;
    }
    .review_banner_box{
        margin-bottom: 36px;
    }

    /* review search modal */
    .modal_review .modal-dialog{
        width: 100% !important;
        max-width: 640px !important;
        margin: 0px auto !important;
    }
    .modal_review .review_header .empty{
        width: 35px;
        height: 35px;
    }
    .modal_review .modal_review_body{
        padding: 40px 40px 0;
    }
    .modal_review .modal_review_title{
        font-size: 45px;
        line-height: 55px;
        letter-spacing: -2.25px;
    }
    .modal_review .modal_review_inputwrap{
        margin-top: 60px;
        padding-bottom: 100px;
    }
    .modal_review .modal_review_inputwrap label{
        font-size: 30px;
        line-height: 33px;
        letter-spacing: -1.5px;
    }
    .modal_review .modal_review_inputwrap input{
        font-size: 18px;
        line-height: 33px;
        letter-spacing: -.9px;
        padding: 15px 0;
    }
    .modal_review .modal_review_inputwrap .review_search_button{
        height: 100px;
        font-size: 30px;
        line-height: 27px;
        letter-spacing: -1px;
    }
}