@media (min-width: 641px){
    .review_section_title{
        padding: 0 40px;
    }
    .review_section_title h2{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -1.75px;
    }
    .review_content{
        margin-top: 36px;
    }

    /* review pick */
    .review_section_filter{
        padding-left: 40px;
    }
    .review_section_filter ul li{
        border-radius: 30px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 8px 23.5px;
        font-size: 18px;
        letter-spacing: -.9px;
        line-height: 19px;
    }
    .review_section_picks{
        margin-top: 40px;
        padding: 90px 0 90px 90px;
    }
    .review_section_picks_item:not(:last-child){
        margin-bottom: 30px;
    }
    .review_section_picks_item .item_top{
        border-top-left-radius: 30px;
        padding: 30px 27px;
    }
    .review_section_picks_item .item_top .item_top_thumbnail{
        min-width: 198px;
    }
    .review_section_picks_item .item_top .item_top_thumbnail img{
        height: 198px;
        border-radius: 30px;
    }
    .review_section_picks_item .item_top .item_review_detail{
        margin-left: 23px;
    }
    .review_section_picks_item .item_top .item_review_detail h3{
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -.5px;
        max-height: 60px;
        margin-bottom: 14px;
    }
    .review_section_picks_item .item_top .item_review_detail p{
        font-size: 17px;
        line-height: 27px;
        letter-spacing: -1.02px;
        max-height: 81px;
        margin-bottom: 20px;
    }
    .item_review_point .item_starbox [class^='item_star']{
        width: 23px;
        height: 21px;
        margin-right: 6.5px;
    }
    .item_review_point .item_star_num{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -1.08px;
        margin-top: 2px;
    }
    .review_section_picks_item .item_bottom{
        padding-bottom: 12px;
        border-bottom-left-radius: 30px;
    }
    .review_section_picks_item .item_bottom .item_review_list_wrap{
        margin-bottom: 16px;
    }
    .review_section_picks_item .item_bottom .item_review_list_wrap ul{
        margin: 0 27px;
    }
    .review_section_picks_item .item_bottom .item_review_list_wrap ul li{
        margin-right: 10px;
    }
    .review_section_picks_item .item_bottom .item_review_list{
        padding: 18.5px 19.5px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        width: 213px;
        height: 106px;
    }
    .review_section_picks_item .item_bottom .item_review_list .item_review_list_text{
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -.9px;
        max-height: 41px;
        margin-bottom: 17.5px;
    }
    .review_section_picks_item .item_bottom .item_review_list .item_review_point .item_starbox [class^='item_star']{
        width: 14px;
        height: 13px;
        margin-right: 4px;
    }
    .review_section_picks_item .item_bottom .item_review_list .item_review_point .item_star_num{
        font-size: 15px;
        line-height: 17px;
        letter-spacing: -.9px;
    }
    .review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right{
        width: 123px;
    }
    .review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right img{
        height: 106px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_profile{
        width: 43px;
        height: 43px;
        left: -21px;
        bottom: 8px;
    }
    .review_section_picks_item .item_bottom .item_review_more{
        margin-left: 27px;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: -.9px;
    }

    /* dummy */
    .review_content_dummy_pick .review_section_filter ul li{
        min-width: 159px;
        height: 37px;
    }
    .review_content_dummy_pick .review_section_picks_item .item_top .item_top_thumbnail{
        height: 198px;
        border-radius: 30px;
    }
    .review_content_dummy_pick .review_section_picks_item .item_top .item_review_detail h3 span{
        height: 27px;
        min-width: 260px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .review_content_dummy_pick .review_section_picks_item .item_top .item_review_detail p span{
        height: 22px;
        min-width: 260px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .review_content_dummy_pick .review_section_picks_item .item_bottom .item_review_list .item_review_list_text span{
        height: 18px;
        min-width: 260px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .review_content_dummy_pick .review_section_picks_item .item_bottom .item_review_list_thumbnail .item_review_list_thumbnail_right{
        height: 106px;
        border-radius: 5px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .review_content_dummy_pick .review_section_picks_item .item_bottom .item_review_more{
        width: 240px;
        height: 19px;
        margin-bottom: 8px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .review_section_category_filter ul li span{
        height: 22px;
        border-radius: 5px;
        bottom: -50px;
    }
    .review_content_dummy_all_category .review_section_all_item .dummy_img{
        height: 284px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .review_section_all_item .item_title h3{
        height: 20px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .review_section_all_item .item_title .dummy_star{
        width: 110px;
        height: 17px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .checkbox .dummy_label{
        width: 175px;
        height: 17px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .review_section_live h3{
        height: 35px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .review_section_live .view_total{
        width: 110px;
        height: 20px;
        border-radius: 5px;
        margin-right: 40px;
    }
    .review_content_dummy_all_category .review_section_live .item_review_list .item_review_list_text span{
        height: 17px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .review_section_live .item_review_list .item_review_list_text span:first-child{
        margin-bottom: 5px;
    }
    .review_content_dummy_all_category .review_section_live .item_review_list .dummy_star{
        height: 17px;
        width: 110px;
        border-radius: 5px;
    }
    .review_content_dummy_all_category .review_section_live .item_review_list_thumbnail{
        border-radius: 5px;
    }
    .review_content_dummy_all_brand .review_brand_list li .brand_logo{
        border-radius: 5px;
    }
    .review_content_dummy_all_brand .review_brand_list li h4{
        height: 24px;
        border-radius: 5px;
    }
    .review_content_dummy_all_brand .review_brand_list li .review_brand_info .brand_detail .product{
        height: 25px;
        width: 86px;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .review_content_dummy_all_brand .review_brand_list li .review_brand_info .brand_detail .review_count{
        height: 25px;
        width: 86px;
        border-radius: 5px;
    }
    .review_content_dummy_campaign .review_section_campaign_item .dummy_img{
        height: 329px;
        margin: 10px;
        border-radius: 5px;
    }
    .review_content_dummy_campaign .review_section_campaign_item .item_title h3{
        height: 24px;
        border-radius: 5px;
    }

    .review_content_dummy .dummy_effect{
        height: 400px;
        top: -400px;
        animation: dummy_640 3s infinite;
    }
    @keyframes dummy_640 {
        0%{
            top: -400px;
        }
        90%{
            opacity: 1;
        }
        100%{
            top: 200vh;
            opacity: 0;
        }
    }

    /* review all */
    .review_section_tab2{
        padding: 0 40px;
    }
    .review_section_tab2 ul li{
        border-radius: 30px;
        padding: 13px;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -1px;
    }
    .review_section_tab2 ul li:first-child{
        margin-right: 14px;
    }
    .review_section_category_filter{
        padding: 70px 40px 50px;
    }
    .review_section_category_filter ul li:before{
        width: 70px;
        height: 70px;
    }
    .review_section_category_filter ul li img{
        max-width: 70px;
    }
    .review_section_category_filter ul li span{
        padding-bottom: 5px;
        bottom: -70px;
        width: 50px;
        height: 39px;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -.75px;
    }
    .review_section_category_filter ul li .loader_box{
        width: 70px;
        height: 70px;
    }
    .review_section_column2{
        padding: 0 40px;
        margin-top: 50px;
    }
    .review_section_column2 ul:first-child{
        margin-right: 24px;
    }
    .review_section_all_item{
        width: 268px;
        height: 364px;
        border-radius: 30px;
    }
    .review_section_all_item:not(:last-child){
        margin-bottom: 15px;
    }
    .review_section_all_item .item_label{
        width: 62px;
        height: 62px;
        top: 8px;
        right: 8px;
        font-size: 15px;
        line-height: 20px;
    }
    .review_section_all_item .item_title{
        height: 80px;
        padding: 16px 20px;
    }
    .review_section_all_item .item_title h3{
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -.85px;
        margin-bottom: 10px;
    }
    .review_section_all_item .item_review_point .item_starbox [class^='item_star']{
        width: 14px;
        height: 13px;
        margin-right: 4px;
    }
    .review_section_all_item .item_review_point .item_star_num{
        font-size: 15px;
        line-height: 17px;
        letter-spacing: -.9px;
    }
    .review_section_column2 .checkbox{
        margin: 0 0 70px 0;
    }
    .review_section_column2 .checkbox label{
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -1.02px;
        margin-right: 12px;
    }
    .review_section_column2 .checkbox .checkbox_controller{
        width: 20px;
    }
    .review_section_column2 .checkbox .checkbox_controller .box{
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid rgb(66, 66, 66);
    }
    .review_section_column2 .checkbox .checkbox_controller input ~ .box:after{
        left: 2px;
        top: 3px;
        border-bottom: 4px solid #68C0B5;
        border-left: 4px solid #68C0B5;
    }
    .review_section_live{
        margin-top: 45px;
        padding: 35px 0;
    }
    .review_section_live h3{
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -1.75px;
        padding: 0 40px;
    }
    .review_section_live .view_total{
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -.85px;
        margin-top: 20px;
        padding-right: 40px;
    }
    .review_section_live .live_list{
        margin-bottom: 16px;
    }
    .review_section_live .live_list ul{
        margin: 10px 27px 0;
    }
    .review_section_live .live_list ul.list_top{
        margin-bottom: 15px;
        margin-left: 90px;
    }
    .review_section_live .live_list ul li{
        margin-right: 10px;
    }
    .review_section_live .item_review_list{
        padding: 18.5px 19.5px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        width: 213px;
        height: 106px;
    }
    .review_section_live .item_review_list .item_review_list_text{
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -.9px;
        max-height: 41px;
        margin-bottom: 17.5px;
    }
    .review_section_live .item_review_list .item_review_point .item_starbox [class^='item_star']{
        width: 14px;
        height: 13px;
        margin-right: 4px;
    }
    .review_section_live .item_review_list .item_review_point .item_star_num{
        font-size: 15px;
        line-height: 17px;
        letter-spacing: -.9px;
    }
    .review_section_live .item_review_list_thumbnail .item_review_list_thumbnail_right{
        width: 123px;
    }
    .review_section_live .item_review_list_thumbnail .item_review_list_thumbnail_right img{
        height: 106px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .review_section_live .item_review_list_thumbnail .item_review_list_profile{
        width: 43px;
        height: 43px;
        left: -21px;
        bottom: 8px;
    }
    .review_section_other_list{
        padding: 40px;
    }
    .review_brand_list{
        margin-top: 33px;
        padding: 0 40px;
    }
    .review_brand_list li{
        border-radius: 30px;
        width: 275px;
        height: 268px;
        margin-bottom: 10px;
    }
    .review_brand_list li .brand_logo{
        height: 130px;
        padding: 20px 40px;
    }
    .review_brand_list li h4{
        font-size: 23px;
        line-height: 24px;
        letter-spacing: -1.15px;
        margin-top: 19px;
    }
    .review_brand_list li .review_brand_info{
        margin-top: 5px;
        padding: 10px 10px 10px 20px;
    }
    .review_brand_list li .review_brand_info .brand_detail{
        font-size: 17px;
        line-height: 27px;
        letter-spacing: -.34px;
    }
    .review_brand_list li .review_brand_info .brand_follow{
        width: 65px;
        height: 65px;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -1.02px;
    }

    /* review campaign */
    .review_section_campaign{
        margin-top: 30px;
    }
    .review_section_campaign_item{
        height: 435px;
    }
    .review_section_campaign_item .item_label{
        width: 74px;
        height: 74px;
        top: 8px;
        right: 8px;
        font-size: 17px;
        line-height: 23px;
    }
    .review_section_campaign_item .item_title{
        height: 86px;
        padding: 30px 20px;
    }
    .review_section_campaign_item .item_title h3{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1px;
    }
    .review_campaign_recommend{
        padding: 30px 40px 24px 40px;
    }
    .recommend_left .text_1{
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -1.1px;
        margin-bottom: 5px;
    }
    .recommend_left .text_2{
        font-size: 40px;
        line-height: 37px;
        letter-spacing: -2px;
        margin-bottom: 17px;
    }
    .recommend_left .text_3{
        border-radius: 30px;
        padding: 12px 24px;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -.9px;
    }
    .recommend_right .recommend_button{
        width: 105px;
        height: 105px;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -1.1px;
    }
    .recommend_right .recommend_button img{
        bottom: -40px;
        right: -15px;
        width: 66px;
        height: 76px;
    }
    .review_reviewer{
        padding: 60px 0;
    }
    .review_reviewer h3{
        padding: 0 40px;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -1.75px;
        margin-bottom: 25px;
    }
    .review_reviewer_list ul{
        margin-left: 40px;
    }
    .reviewer_item{
        margin-right: 10px;
    }
    .reviewer_item .reviewer_imgbox{
        width: 170px;
        height: 170px;
    }
    .reviewer_item .reviewer_account{
        width: 170px;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1px;
        margin-top: 15px;
    }
    .reviewer_item .reviewer_about{
        width: 170px;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -.85px;
        margin-top: 7px;
    }
    .reviewer_item .reviewer_follow_button{
        width: 65px;
        height: 65px;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -1.02px;
        margin-top: 10px;
    }
    .review_best_reviewer{
        padding: 60px 0;
    }
    .review_best_reviewer h3{
        padding: 0 40px;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -1.75px;
        margin-bottom: 25px;
    }
    .review_best_reviewer_list ul{
        margin-left: 40px;
    }
    .best_reviewer_item{
        border-radius: 30px;
        min-width: 234px;
        height: 349px;
        margin-right: 20px;
    }
    .best_reviewer_item .item_top{
        height: 202px;
    }
    .best_reviewer_item .item_bottom{
        padding: 40px 20px 15px;
    }
    .best_reviewer_item .item_bottom .item_profile{
        border: 2px solid #fff;
        top: -35px;
        width: 70px;
        height: 70px;
    }
    .best_reviewer_item .item_bottom .review_title{
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -.9px;
        height: 44px;
        margin-bottom: 13.5px;
    }
    .best_reviewer_item .item_bottom .review_line{
        width: 53px;
        margin-bottom: 12px;
    }
    .best_reviewer_item .item_bottom .product_name{
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -.8px;
    }
}