@charset "utf-8";

/*webfont*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

@font-face{
	font-family:'MG010';
	src:url('/fonts/210mgothic010.woff') format('woff'),
	url('/fonts/210mgothic010.otf') format('opentype') ,
	url('/fonts/210mgothic010.ttF') format('true type');
}
@font-face{
	font-family:'MG020';
	src:url('/fonts/210mgothic020.woff') format('woff'),
	url('/fonts/210mgothic020.otf') format('opentype'),
	url('/fonts/210mgothic020.ttf') format('true type');
}
@font-face{
	font-family:'MG030';
	src:url('/fonts/210mgothic030.woff') format('woff'),
	url('/fonts/210mgothic030.otf') format('opentype'),
	url('/fonts/210mgothic030.ttf') format('true type');
}
@font-face{
	font-family:'MG040';
	src:url('/fonts/210mgothic040.woff') format('woff'),
	url('/fonts/210mgothic040.otf') format('opentype'),
	url('/fonts/210mgothic040.ttf') format('true type');
}
@font-face{
	font-family:'MG050';
	src:url('/fonts/210mgothic050.woff') format('woff'),
	url('/fonts/210mgothic050.otf') format('opentype'),
	url('/fonts/210mgothic050.ttf') format('true type');
}
@font-face{
	font-family:'MG060';
	src:url('/fonts/210mgothic060.woff') format('woff'),
	url('/fonts/210mgothic060.otf') format('opentype'),
	url('/fonts/210mgothic060.ttf') format('true type');
}
@font-face{
	font-family:'MG070';
	src:url('/fonts/210mgothic070.woff') format('woff'),
	url('/fonts/210mgothic070.otf') format('opentype'),
	url('/fonts/210mgothic070.ttf') format('true type');
}
@font-face{
	font-family:'MG080';
	src:url('/fonts/210mgothic080.woff') format('woff'),
	url('/fonts/210mgothic080.otf') format('opentype'),
	url('/fonts/210mgothic080.ttf') format('true type');
}
@font-face{
	font-family:'MG090';
	src:url('/fonts/210mgothic090.woff') format('woff'),
	url('/fonts/210mgothic090.otf') format('opentype'),
	url('/fonts/210mgothic090.ttf') format('true type');
}
@font-face{
	font-family:'MG100';
	src:url('/fonts/210mgothic100.woff') format('woff'),
	url('/fonts/210mgothic100.otf') format('opentype'),
	url('/fonts/210mgothic100.ttf') format('true type');
}

@font-face{
	font-family:georgia;
	src:url('/fonts/georgia.woff') format('woff'),
	url('/fonts/georgia.ttf') format('true type');
}
@font-face{
	font-family:georgiab;
	src:url('/fonts/georgiab.woff') format('woff'),
	url('/fonts/georgiab.ttf') format('true type');
}
@font-face{
	font-family:georgiai;
	src:url('/fonts/georgiai.woff') format('woff'),
	url('/fonts/georgiai.ttf') format('true type');
}
@font-face{
	font-family:georgiaz;
	src:url('/fonts/georgiaz.woff') format('woff'),
	url('/fonts/georgiaz.ttf') format('true type');
}
@font-face{
	font-family:monbaiti;
	src:url('/fonts/monbaiti.woff') format('woff'),
	url('/fonts/monbaiti.ttf') format('true type');
}
.MG010{font-family:'MG010'}
.MG020{font-family:'MG020'}
.MG030{font-family:'MG030'}
.MG040{font-family:'MG040'}
.MG050{font-family:'MG050'}
.MG060{font-family:'MG060'}
.MG070{font-family:'MG070'}
.MG080{font-family:'MG080'}
.MG090{font-family:'MG090'}
.MG100{font-family:'MG100'}

.georgia{font-family:georgia;}
.georgiab{font-family:georgiab;}
.georgiai{font-family:georgiai;}
.georgiaz{font-family:georgiaz;}
.monbaiti{font-family:monbaiti;}
/*보편적 스타일링 reset.css*/
html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
blockquote, p, address, pre, cite,
form, fieldset, input, textarea, select,
table, th, td {
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}

fieldset, img, abbr,acronym { border:0 none; }

ol, ul { list-style:none; }

table {
	border-collapse: separate;
	border-spacing:0;
	border:0 none;
}
caption, th, td {
	text-align:left;
	font-weight: normal;
	border:0;
}

address, caption, strong, em, cite {
	font-weight:normal;
	font-style:normal;
}
ins { text-decoration:none; }
del { text-decoration:line-through; }

blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }

hr { display:none; }

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img, video { max-width:100%; border:0; vertical-align:top; }
audio, canvas, video { display:inline-block; *display:inline; *zoom: 1; }

* { margin:0; padding:0; border:0; outline:0; vertical-align:top; box-sizing:border-box; }
ul, ol, dl { list-style:none; }
a { vertical-align:top; text-decoration:none; color:#333; }
table { border-collapse:collapse; border-spacing:0; }
input, select, label { vertical-align:middle; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;font-family:'MG030','Noto Sans KR',sans-serif;font-weight:normal;}
button, input { line-height:normal;}
button, select { text-transform:none; }

select {
     -webkit-appearance: none;/* 네이티브 외형 감추기*/
     -moz-appearance: none;
     appearance: none;
    font-family:'MG030','Noto Sans KR',sans-serif;font-weight:normal;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}
body { font-size:100%; line-height:1.2; font-family:'MG030','Noto Sans KR', sans-serif;font-weight:normal;}
label { cursor:pointer; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor: pointer; *overflow:visible; }

textarea { overflow:auto; vertical-align:top; }

html,body{height:100%;background-color:#fff;color:#000;}
address{font-style:normal;}
